site_name: Formed
site_url: https://altescy.github.io/formed
repo_url: https://github.com/altescy/formed
repo_name: altescy/formed

theme:
  name: material
  features:
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.tabs
    - navigation.tabs.sticky
    - search.highlight
    - toc.follow

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            docstring_style: google
            heading_level: 2
            show_source: true
            show_symbol_type_in_heading: true
            show_signature_annotations: true
            show_root_heading: true
            members_order: source
            docstring_section_style: list

markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: .
      dedent_subsections: true
  - pymdownx.superfences
  - pymdownx.snippets

nav:
  - Home: index.md
  - Quick Start: quick_start.md
  - API Reference:
    - Workflow: api_reference/workflow.md
