site_name: Formed
site_url: https://altescy.github.io/formed
repo_url: https://github.com/altescy/formed
repo_name: altescy/formed

theme:
  name: material
  features:
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.tabs
    - navigation.tabs.sticky
    - search.highlight
    - toc.follow

plugins:
  search: null
  typeset: null
  mkdocstrings:
    handlers:
      python:
        paths: [.]
        options:
          show_root_heading: true
          show_if_no_docstring: true
          inherited_members: true
          members_order: source
          separate_signature: true
          unwrap_annotated: true
          filters:
            - "!^_"
          merge_init_into_class: true
          docstring_section_style: spacy
          signature_crossrefs: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true

markdown_extensions:
  material.extensions.preview:
    targets:
      include:
        - "*"
  abbr: null
  attr_list: null
  footnotes: null
  md_in_html: null
  tables: null
  toc:
    permalink: true
  pymdownx.betterem: null
  pymdownx.caret: null
  pymdownx.highlight:
    line_spans: __span
  pymdownx.inlinehilite: null
  pymdownx.keys: null
  pymdownx.mark: null
  pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format ""
  pymdownx.tilde: null
  pymdownx.blocks.admonition:
    types:
      - note
      - attention
      - caution
      - danger
      - error
      - tip
      - hint
      - warning
      - info
      - check
  pymdownx.blocks.details: null
  pymdownx.blocks.tab:
    alternate_style: true
  mdx_include: null
  markdown_include_variants: null

nav:
  - Home: index.md
  - Quick Start: quick_start.md
  - Tutorials:
      - Overview: tutorials/index.md
      - Text Classification: tutorials/text_classification.md
  - Guides:
      - Overview: guides/index.md
      - Workflow: guides/workflow.md
      - Integrations:
          - ML: guides/integrations/ml.md
  - API Reference:
      - Overview: api_reference/index.md
      - Workflow: api_reference/workflow.md
      - Integrations:
          - Datasets: api_reference/integrations/datasets.md
          - Flax: api_reference/integrations/flax.md
          - ML: api_reference/integrations/ml.md
          - MLflow: api_reference/integrations/mlflow.md
          - SentenceTransformers: api_reference/integrations/sentence_transformers.md
          - Torch: api_reference/integrations/torch.md
          - Transformers: api_reference/integrations/transformers.md
