name: docs
on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6

      - run: uv sync --dev --all-extras --group docs

      - run: uv run mkdocs gh-deploy --force
